<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rs.mapper.OrderMapper">

    <insert id="createOrder">
        INSERT INTO `order`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            order_id,
            user_id,
            ticket_id,
            amount,
            <if test="status != null">status,</if>
            <if test="paymentMethod != null">payment_method,</if>
            <if test="couponId != null">coupon_id,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            #{orderId},
            #{userId},
            #{ticketId},
            #{amount},
            <if test="status != null">#{status},</if>
            <if test="paymentMethod != null">#{paymentMethod},</if>
            <if test="couponId != null">#{couponId},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <insert id="createOrderSeat">
        insert into order_seat (order_id, seat_id)
            value (#{orderId}, #{seatId})
    </insert>
</mapper>